*{
    text-align: left;
    background: blueviolet;
}
.water{
    color: aqua;
    text-decoration: underline;
    
}
.oxygen{
    color: rgb(104, 211, 175);
}
.iron{
    color: yellowgreen;
}
.energy{
    color: red;
}
.resources{
    display: block;
    text-decoration: none;
    color: black;
    padding: 20px 5px;
    margin: 16px;
    
}
.body{
    cursor: pointer;
}
.base-header{
    text-decoration: none;
    padding-inline-start: ;
}